* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
	display: block;
}

@font-face {
	font-family: "Inter";
	font-weight: 400;
	src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Inter";
	font-weight: 600;
	src: url("assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: "Inter";
	font-weight: 700;
	src: url("assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

:root {
	--gray-700: #333333;
	--gray-800: #1f1f1f;
	--gray-900: #141414;

	--green: #c5f82a;
}

body {
	font-family: Inter, sans-serif;
	width: 100dvw;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--gray-900);
	color: whitesmoke;
	font-size: 0.875rem;
	line-height: 1.5;
}

main {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.card {
	background-color: var(--gray-800);
	width: 100%;
	max-width: 24rem;
	padding: 2.75rem 2.5rem;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	gap: 1.5rem;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.125rem;
		h1 {
			font-weight: 700;
		}
		address {
			font-style: normal;
			color: var(--green);
			font-weight: 600;
		}
	}
}

header .avatar {
	width: 100%;
	max-width: 5.5rem;
	border-radius: 50%;
}

header .job {
	font-size: 0.5rem;
	color: white;
	opacity: 70%;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}
nav a {
	width: 100%;
	text-align: center;
	background-color: var(--gray-700);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	font-weight: 600;
}

nav a:hover {
	background-color: var(--green);
	color: var(--gray-800);
	transition: all ease-in-out 0.3s;
}
nav a:active {
	opacity: 0.5;
	transition: none;
}

nav a span {
	display: none;
	transform: translateX(-10);
	transition: all ease-in-out 0.3s;
}

nav a:hover span {
	display: inline;
	opacity: 1;
	transform: translateX(0);
}
